body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
  color: #747b8c;
  font-weight: 900;
  text-align: center;
  margin: 10px auto 10px;
  margin-top: 20px;
  margin-bottom: 0;
}

p {
  font-size: 24px;
  color: #939aa9;
  padding: 0;
  margin: 5px;
}
h2 {
  font-size: 24px;
  color: #747b8c;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 20px;
  font-weight: 700;
  color: #747b8c;
  margin: 10px 10px 0 10px;
  padding: 10px;
}
h4 {
  font-size: 20px;
  color: #747b8c;
  font-weight: 600;
  text-align: center;
}

h5 {
  top: 40px;
  position: relative;
}
ul {
  list-style: none;
  display: block;
  margin: 20px auto;
  padding: 0 20px 0 60px;
  color: #5a6275;
}
button {
  display: block;
  border: 5px solid #bec2cb;
  border-radius: 5px;
  font-size: 17px;
  color: white;
  background-color: #bec2cb;
  position: relative;
  margin: 0;
  padding: 4px 20px;
  top: -42px;
  left: -355px;
}
button:hover {
  background-color: white;
  color: #bec2cb;
  cursor: pointer;
}
#icon {
  max-width: 100px;
  margin: 5;
  background-image: url(background.png);
}
.image-word {
  text-transform: capitalize;
}
.description-image {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.card {
  border: 5px solid #bec2cb;
  background: none;
}
.card-body {
  padding: 5px;
}

.col .field {
  padding: 5px;
  top: 5px;
  right: -100px;
  position: relative;
}
.span.units {
  margin-left: 0;
  padding-left: 0;
}
.units #farengeit {
  border-left: 1px solid #bec2cb;
  padding-top: 0;
  padding-left: 3px;
  margin-top: 0;
}
.temperature-today #celsius {
  padding-right: 5px;
  margin-right: 0;
  padding-top: 0;
  margin-top: 0;
  box-sizing: 0;
}
.temperature-now {
  margin-right: 0;
  padding-right: 0;
}
.weather-today {
  display: block;
  margin: 0px 80px;
}
.temperature-today {
  font-size: 46px;
  margin: 0;
  padding-right: 0;

  color: #5a6275;
  text-align: center;
}
#temper-now {
  margin: 0;
  padding: 0;
  margin-right: 0;
}

.frame {
  max-width: 800px;
  max-height: 300px;

  margin: 60px auto;
  display: block;
}
.col-auto {
  color: #5a6275;
}
.middle-frame {
  color: #5a6275;
  padding: 0px;
  margin-left: 15px;
  padding-right: 30px;
}
.col-2 {
  margin: 0 10px 5px;
  padding: 0;
}
.five-days {
  margin: 5px;
  margin-left: 15px;
  margin-top: 15px;
}
.small-image {
  display: block;
  margin: 0 auto;
}
.date {
  font-size: 13px;
  color: #5a6275;
  font-weight: lighter;
  text-align: center;
}
.col-6 {
  font-size: 15px;
  color: #5a6275;
}

.form-control {
  background-color: white;
  border: 5px solid #bec2cb;
}
.temperature-today .units {
  margin: 0;
  padding-top: 0;
}
.temp-forecast-max {
  color: #24272d;
}
a#celsius.active {
  color: blue;
  font-weight: thick;
}
a#farengeit.active {
  color: blue;
  font-weight: thick;
}

.units #celsius,
.units #farengeit {
  font-size: 15px;
  text-decoration: none;
  font-weight: 100px;
  color: #5a6275;
  position: relative;
  top: -17px;
}

.units #celsius:hover,
.units #farengeit:hover {
  text-decoration: underline;
}

#middle-frame {
  background: none;
}

#city {
  margin-bottom: 5px;
}
#search {
  background-color: #bec2cb;
  color: white;
  width: 50px;
  font-size: 22px;
  margin: 0;
  margin-right: 100px;
  padding: 0 5px;
  border: 5px solid #bec2cb;
}
#search:hover {
  background-color: white;
  color: #bec2cb;
  cursor: pointer;
}

#background {
  background-image: url(background.png);
}
#form-search {
  margin-right: 10px;
}
